:root.theme-light {
  --accent-color: #ff0070;
  --font-color: #353430;
  --font-color-title: #353430;
  --font-text-color: #353430;
  --font-color-menu: #353430;
  --font-color-menu-hover: #32312d66;
  --title-color: #ffc2e6;
  --title-decor-color: #ff8dcb;
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
}

.theme-light .decorated-zone__text {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff0070;
    --font-color: #353430;
    --font-color-title: #353430;
    --font-text-color: #353430;
    --font-color-menu: #353430;
    --font-color-menu-hover: #32312d66;
    --title-color: #ffc2e6;
    --title-decor-color: #ff8dcb;
    --background-color: #fff1f7;
    --background-image: url(../images/cover-image-light.png);
  }

  .theme-auto .decorated-zone__text {
    display: none;
  }
}
